* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1a191f;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding: 0.5rem 0;
  height: 90px;
  font-size: 1rem;
}
.header .header__flexbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  padding: 1rem;
}
.header .header__flexbox .header__logo {
  font-size: 2rem;
}
.header .header__flexbox .header__logo a {
  text-decoration: none;
  color: #ffffff;
}
.header .header__flexbox .header__logo a:hover {
  opacity: 0.6;
}
.header .header__flexbox .header__navbar .header__navbar-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 2rem;
}
.header .header__flexbox .header__navbar .header__navbar-list .nav__link {
  position: relative;
  display: block;
}
.header .header__flexbox .header__navbar .header__navbar-list .nav__link > a {
  color: #ffffff;
  font-size: 1.125rem;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  text-decoration: none;
}
.header .header__flexbox .header__navbar .header__navbar-list .nav__link > a:hover {
  background-color: #ffffff;
  color: #1a191f;
}
.header .header__flexbox .header__navbar .header__navbar-list .nav__link details {
  display: inline-block;
  position: relative;
  width: 180px;
  z-index: 5;
}
.header .header__flexbox .header__navbar .header__navbar-list .nav__link details[open] {
  padding-top: 156px;
}
.header .header__flexbox .header__navbar .header__navbar-list .nav__link details summary {
  color: #ffffff;
  cursor: pointer;
  font-size: 1.125rem;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
}
.header .header__flexbox .header__navbar .header__navbar-list .nav__link details summary:hover {
  background-color: #ffffff;
  color: #1a191f;
}
.header .header__flexbox .header__navbar .header__navbar-list .nav__link details > div {
  position: relative;
  z-index: inherit;
}
.header .header__flexbox .header__navbar .header__navbar-list .nav__link details > div p {
  width: 180px;
  background-color: #ffffff;
  margin: 0;
  z-index: 1;
}
.header .header__flexbox .header__navbar .header__navbar-list .nav__link details > div p a.nav__link-item {
  display: block;
  padding: 0.5rem;
  width: 100%;
  color: #1a191f;
  text-decoration: none;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.header .header__flexbox .header__navbar .header__navbar-list .nav__link details > div p a.nav__link-item:hover {
  background-color: #1a191f;
  color: #ffffff;
}
.header .header__flexbox .header__search {
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  border: 2px solid #1a191f;
  border-radius: 0.3125rem;
  outline: none;
}

.movies__grid-box {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
.movies__grid-box .movie {
  position: relative;
}
.movies__grid-box .movie .movie__cover-inner {
  position: relative;
  height: 380px;
}
.movies__grid-box .movie .movie__cover-inner .movie__cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.movies__grid-box .movie .movie__cover-inner .movie__cover--overlay {
  background-color: #000000;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}
.movies__grid-box .movie .movie__cover-inner .movie__cover--overlay:hover {
  background-color: grey;
  cursor: pointer;
}
.movies__grid-box .movie .movie__info {
  padding: 0.625rem 0px;
}
.movies__grid-box .movie .movie__info .movie__title-box {
  padding: 0.1rem 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-height: -moz-fit-content;
  min-height: fit-content;
  gap: 0.5rem;
  color: #ffffff;
  font-size: 1.2rem;
}
.movies__grid-box .movie .movie__info .movie__title-box button {
  border: none;
  background-color: #1a191f;
  color: #ffffff;
  font-size: 1.8rem;
}
.movies__grid-box .movie .movie__info .movie__title-box button .movie__favorite {
  color: rgba(135, 0, 0, 0.84);
}
.movies__grid-box .movie .movie__info .movie__title-box button:hover {
  cursor: pointer;
}
.movies__grid-box .movie .movie__info .movie__category {
  color: #ffd80e;
  font-size: 0.875rem;
  padding: 0.2rem 0;
}
.movies__grid-box .movie .movie__info .movie__year {
  color: #f9ecce;
  font-size: 0.875rem;
  padding: 0.2rem 0;
}
.movies__grid-box .movie .movie__info .movie__rating {
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
  border-radius: 50%;
  width: 2.1rem;
  height: 2.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a191f;
  font-size: 0.875rem;
  font-weight: 700;
}
.movies__grid-box .movie .movie__info .movie__rating--green {
  color: green;
}
.movies__grid-box .movie .movie__info .movie__rating--orange {
  color: orange;
}
.movies__grid-box .movie .movie__info .movie__rating--red {
  color: red;
}/*# sourceMappingURL=style.css.map */