// root & variables************
$background-color: #1a191f;
$text-color: #ffffff;
$movie-bgColor: #000000;
$movie-overlayColor: grey;
$movie-favoriteColor: rgba(135, 0, 0, 0.84);
$movie-categoryColor: #ffd80e;
$movie-yearColor: #f9ecce;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: $background-color;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.header {
    padding: 0.5rem 0;
    // height: 60px;
    font-size: 1rem;

    .header__flexbox {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 1rem;
        padding: 1rem;

        .header__logo {
            font-size: 2rem;

            a {
                text-decoration: none;
                color: $text-color;

                &:hover {
                    opacity: 0.6;
                }
            }
        }

        .header__navbar {

            .header__navbar-list {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                list-style: none;

                .nav__link {
                    position: relative;
                    display: block;

                    >a {
                        color: $text-color;
                        font-size: 1.125rem;
                        padding: 0.5rem 2rem 0.5rem 0.5rem;
                        text-decoration: none;

                        &:hover {
                            background-color: $text-color;
                            color: $background-color;
                        }
                    }

                    &:hover>ul {
                        display: initial;
                    }
                }

                .nav__link-list {
                    display: none;
                    list-style: none;
                    position: absolute;
                    left: 0;
                    top: 2rem;
                    width: 180px;
                    background-color: $text-color;

                    a.nav__link-item {
                        display: block;
                        padding: 0.5rem;
                        width: 100%;
                        color: $background-color;
                        text-decoration: none;
                        font-size: 1rem;
                        border: 1px solid rgba(0, 0, 0, 0.1);

                        &:hover {
                            background-color: $background-color;
                            color: $text-color;
                        }
                    }
                }
            }
        }

        .header__search {
            padding: 0.5rem 2rem 0.5rem 0.5rem;
            border: 2px solid $background-color;
            border-radius: 0.3125rem;
            outline: none;
        }
    }
}

.movies__grid-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;

    .movie {
        position: relative;

        .movie__cover-inner {
            position: relative;
            height: 380px;

            .movie__cover {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .movie__cover--overlay {
                background-color: $movie-bgColor;
                opacity: 0.1;
                position: absolute;
                top: 0;
                left: 0;
                min-width: 100%;
                min-height: 100%;
                z-index: 1;

                &:hover {
                    background-color: $movie-overlayColor;
                    cursor: pointer;
                }
            }
        }

        .movie__info {
            padding: 0.625rem 0px;

            .movie__title-box {
                padding: 0.1rem 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: 0.5rem;
                color: $text-color;
                font-size: 1.2rem;

                a {
                    text-decoration: none;
                    color: $text-color;
                    font-size: 1.8rem;

                    .movie__favorite {
                        color: rgba(135, 0, 0, 0.84);
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }

            }

            .movie__category {
                color: $movie-categoryColor;
                font-size: 0.875rem;
                padding: 0.2rem 0;
            }

            .movie__year {
                color: $movie-yearColor;
                font-size: 0.875rem;
                padding: 0.2rem 0;
            }

            .movie__rating {
                position: absolute;
                top: 0.625rem;
                left: 0.625rem;
                border-radius: 50%;
                width: 2.1rem;
                height: 2.1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $background-color;
                font-size: 0.875rem;
            }

            .movie__rating--green {
                color: green;
            }

            .movie__rating--orange {
                color: orange;
            }

            .movie__rating--red {
                color: red;
            }
        }
    }
}