// root & variables************
$background-color: #1a191f;
$text-color: #ffffff;
$movie-bgColor: #000000;
$movie-overlayColor: grey;
$movie-favoriteColor: rgb(203, 0, 0);
$movie-categoryColor: #ffd80e;
$movie-yearColor: #f9ecce;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: $background-color;
}

main {
    margin: 1rem;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.header {
    padding: 0.5rem 0;
    height: 90px;
    font-size: 1rem;

    .header__flexbox {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 1rem;
        padding: 1rem;

        .header__logo {

            .header__logo-home {
                font-size: 1.8rem;
            }

            a {
                text-decoration: none;
                color: $movie-yearColor;

                &:hover {
                    opacity: 0.6;
                }

                img {
                    display: none;
                }
            }
        }

        .header__navbar {

            .header__navbar-list {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                list-style: none;
                height: 2rem;

                .nav__link {
                    position: relative;
                    display: block;


                    >a {
                        color: $text-color;
                        font-size: 1.125rem;
                        padding: 0.5rem 2rem 0.5rem 0.5rem;
                        text-decoration: none;

                        &:hover {
                            background-color: $text-color;
                            color: $background-color;
                        }
                    }

                    details {
                        display: inline-block;
                        position: relative;
                        width: 180px;
                        z-index: 5;

                        &[open] {
                            padding-top: 156px;
                        }

                        summary {
                            color: $text-color;
                            cursor: pointer;
                            font-size: 1.125rem;
                            padding: 0.5rem 2rem 0.5rem 0.5rem;

                            &:hover {
                                background-color: $text-color;
                                color: $background-color;
                            }
                        }

                        >div {
                            position: relative;
                            z-index: inherit;

                            p {
                                width: 180px;
                                background-color: $text-color;
                                margin: 0;
                                z-index: 1;

                                a.nav__link-item {
                                    display: block;
                                    padding: 0.5rem;
                                    width: 100%;
                                    color: $background-color;
                                    text-decoration: none;
                                    font-size: 1rem;
                                    border: 1px solid rgba(0, 0, 0, 0.1);

                                    &:hover {
                                        background-color: $background-color;
                                        color: $text-color;
                                    }
                                }
                            }
                        }


                    }

                }

            }
        }

        .header__search {
            padding: 0.5rem;
            width: 12rem;
            border: 2px solid $background-color;
            border-radius: 0.3125rem;
            outline: none;
        }
    }
}

.movies__grid-box {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;

    .movie {
        position: relative;

        &.hide-movie {
            opacity: 0;
            transition: all .5s ease;
        }

        .movie__cover-inner {
            position: relative;
            aspect-ratio: 2/3;
            width: 100%;
            overflow: hidden;

            .movie__cover {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .movie__cover--overlay {
                background-color: $movie-bgColor;
                opacity: 0.1;
                position: absolute;
                top: 0;
                left: 0;
                min-width: 100%;
                min-height: 100%;
                z-index: 1;

                &:hover {
                    background-color: $movie-overlayColor;
                    cursor: pointer;
                }
            }
        }

        .movie__info {
            padding: 0.625rem 0px;

            .movie__title-box {
                padding: 0.1rem 0;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                min-height: fit-content;
                gap: 0.5rem;
                color: $text-color;
                font-size: 1.2rem;

                .movie__title {
                    &:hover {
                        cursor: pointer;
                    }
                }

                button {
                    border: none;
                    background-color: $background-color;
                    color: $text-color;
                    font-size: 1.8rem;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .movie__favorite {
                    color: $movie-favoriteColor;
                }

            }

            .movie__category {
                color: $movie-categoryColor;
                font-size: 0.875rem;
                padding: 0.2rem 0;
            }

            .movie__year {
                color: $movie-yearColor;
                font-size: 0.875rem;
                padding: 0.2rem 0;
            }

            .movie__rating {
                position: absolute;
                top: 0.625rem;
                left: 0.625rem;
                border-radius: 50%;
                width: 2.1rem;
                height: 2.1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $background-color;
                font-size: 0.875rem;
                font-weight: 700;
            }

            .movie__rating--green {
                color: green;
            }

            .movie__rating--orange {
                color: orange;
            }

            .movie__rating--red {
                color: red;
            }
        }
    }
}

.modal__window {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba($movie-bgColor, 0.5);
    transition: width 2s;

}

.modal--display {
    display: flex;
    justify-content: center;
    align-items: center;

    .modal__card {
        background-color: $text-color;
        max-width: 600px;
        padding: 1rem;
        box-shadow: 0 0 1rem 0 rgba($movie-bgColor, 0.5);
        background-color: $background-color;
        color: $text-color;
        display: flex;
        flex-direction: column;

        .modal__movie-backdrop {
            width: 200px;
            margin: 0 auto
        }

        .modal__movie-title {
            margin: 0.5rem 0;
            color: $movie-yearColor;
        }

        .modal__movie-info {
            margin-left: 1rem;
        }

        .modal__btn-close {
            padding: 0.3rem 0.5rem;
            margin: 0.5rem;
            align-self: center;
            border-radius: 0.25rem;
        }

        .modal__movie-website {
            color: $movie-categoryColor
        }

        ul li {
            padding: 0.25rem;
        }
    }
}


.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

@media screen and (max-width: 1050px) {


    .movies__grid-box {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (max-width: 992px) {

    html {
        font-size: 14 !important;
    }

    .header__logo {

        .header__logo-home {
            display: none;
        }

        a {

            img {
                display: block !important;
                width: 2.5rem !important;
                height: 2.5rem !important;
            }
        }
    }

    .movies__grid-box {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (max-width: 768px) {

    html {
        font-size: 14px !important;
    }

    details {
        width: 160px !important;

        &[open] {
            padding-top: 136px !important;
        }

        >div {

            p {
                width: 160px !important;

            }
        }

    }

    .movies__grid-box {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem !important;
    }

    .modal--display {

        .modal__card {
            max-width: 580px !important;
        }
    }
}

@media screen and (max-width: 600px) {

    html {
        font-size: 13px !important;
    }

    main {
        margin: 0.5rem !important;
    }

    details {
        width: 140px !important;

        &[open] {
            padding-top: 128px !important;
        }

        >div {

            p {
                width: 140px !important;

            }
        }
    }

    .movies__grid-box {
        padding: 1.5rem !important;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem !important;
    }

    .modal--display {

        .modal__card {
            max-width: 500px !important;
        }
    }
}

@media screen and (max-width: 520px) {

    html {
        font-size: 13 !important;
    }

    main {
        margin: 0.5rem !important;
    }

    .header__flexbox {
        justify-content: space-between;
        gap: 0.25rem !important;
        padding: 0.5rem !important;

        details {
            width: 140px !important;

            &[open] {
                padding-top: 128px !important;
            }

            >div {

                p {
                    width: 140px !important;

                }
            }

        }

        .header__search {
            width: 2.2rem !important;
            height: 2.2rem !important;
            border: none !important;
            border-radius: 1.3rem !important;
            padding-left: 2rem !important;

            background:
                url(../assets/search.svg) no-repeat 8px/14px,
                white;
            cursor: pointer;
            transition-property: width, border-radius, box-shadow;
            transition-duration: 300ms;

            &:focus {
                width: 100px !important;
                border-radius: 0.3rem !important;
                box-shadow: 0 0 0 2px $movie-yearColor !important;
                outline: none !important;
                cursor: auto !important;
            }
        }
    }



    .movies__grid-box {
        padding: 1rem 2rem !important;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem !important;

        .movie__title-box {
            font-size: 1.2rem !important;

            button {
                font-size: 1.6rem !important;
            }

        }

        .movie__category {
            font-size: 1.1rem !important;
            padding: 0.3rem 0 !important;
        }

        .movie__year {
            font-size: 1.1rem !important;
            padding: 0.3 0 !important;
        }
    }


    .modal--display {

        .modal__card {

            max-width: 400px !important;

            .modal__movie-title {
                font-size: 1.5rem !important;
            }

            .modal__movie-info {
                font-size: 1.2rem !important;
            }

        }
    }

}

@media screen and (max-width: 400px) {

    html {
        font-size: 12px !important;
    }

    main {
        margin: 0 !important;
    }

    .header__flexbox {
        justify-content: space-between !important;
        gap: 0.25rem !important;
        padding: 0.5rem !important;

        details {
            width: 100px !important;

            &[open] {
                padding-top: 166px !important;
            }

            >div {

                p {
                    width: 100px !important;

                }
            }
        }

        .header__search {
            width: 2rem !important;
            height: 2rem !important;
            border: none !important;
            border-radius: 1.2rem !important;
            padding-left: 1.6rem !important;

            background:
                url(../assets/search.svg) no-repeat 6px/12px,
                white;
            cursor: pointer;
            transition-property: width, border-radius, box-shadow;
            transition-duration: 300ms;

            &:focus {
                width: 100px !important;
                border-radius: 0.2rem !important;
                box-shadow: 0 0 0 2px $movie-yearColor !important;
                outline: none !important;
                cursor: auto !important;
            }
        }
    }



    .movies__grid-box {
        padding: 1rem 2.5rem !important;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem !important;

        .movie__title-box {
            font-size: 1.4rem !important;

            button {
                font-size: 1.6rem !important;
            }

        }

        .movie__category {
            font-size: 1.2rem !important;
            padding: 0.4rem 0 !important;
        }

        .movie__year {
            font-size: 1.2rem !important;
            padding: 0.4rem 0 !important;
        }
    }


    .modal--display {

        .modal__card {

            max-width: 360px !important;

            .modal__movie-title {
                font-size: 1.4rem !important;
            }

            .modal__movie-info {
                font-size: 1.2rem !important;
            }

        }
    }

}